.App {
  text-align: center;
}

body {
  background-color: #1e2e79;
}

input {
  width: 10vw;
  display: table-cell;
  background: transparent;
  border: 0;
  z-index: 2;
  float: left;
  padding: 6px 12px;
  margin: 0;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

p h1 {
  font-size: 50px;
}

p h2 {
  font-size: 30px;
}

.main-container, .main-padding {
  background-color: #ffffff;
  margin-bottom: 20vw;
}

.main-container {
  padding: 0 8% 5% 8%;
}

.main-padding {
  padding: 5% 8% 20%;
}